.tablaColor{
    
    height: max-content;
    margin-top: 20px;
    display: flex;  
    flex-direction: column;
    width: max-content;
    position: relative;
}

table{
    height: 500px;
    width: 500px;
    border-collapse: collapse;
}

#tabla{
    color: aquamarine;
    background-color: blue;
}

.posicion{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Tope{
    display: table-row;
    background-color: red;
}

#titulo{
    background-color: white;
    text-align: initial;
    position: static;
}


#botones{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#botonI{
    margin: 20px;
}
#botonC{
    margin: 20px;
}

#LabelN{
    display: flex;
    align-items: initial;
    flex-direction: column;
}

#InputN{
    display: flex;
    align-items: initial;
    flex-direction: row;
}

#contentName{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

#LabelC{
    display: flex;
    align-items: initial;
    flex-direction: column;
    
}

#inputC{
    display: flex;
    align-items: initial;
    flex-direction: row;
}

#contentC{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

#LabelCaja{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.controls{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
